* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #0d1b2a;
    color: #fff;
    font-size: 16px;
}

.container {
    position: relative;
    min-width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-image: url(https://img2.joyreactor.cc/pics/comment/full/%D0%BE%D0%B1%D0%BE%D0%B8-%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-%D0%BE%D0%B1%D0%BE%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%81%D1%82%D0%BE%D0%BB%D0%B0-686604.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    overflow: hidden;
    z-index: 1;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 12px;
    z-index: 2;
}

.container > * {
    position: relative;
    z-index: 3;
}


.image-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    height: auto;
    border-radius: 12px;
    display: block;
    margin-bottom: 20px;
}

h1, p {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #a7e1f3;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    font-size: 15px;
    width: 100%;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="date"]:hover,
textarea:hover {
    background-color: #8778bd;
    border-color: #00c3ff;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 8px;
}

input[type="radio"] {
    margin-right: 6px;
}

.button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #00c3ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button:hover {
    background-color: #009ccd;
}
